@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.carousel-controls {
    z-index: 1;
    pointer-events: none;
}

.carousel-button, .carousel-card {
    pointer-events: auto;
}

#carousel-content {
    display: flex;
    transition: opacity 1s ease-in-out;
}

#carousel-content > .card {
    flex-shrink: 0;
    width: 25%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-right: 1rem;
}

#carousel-content > .card.active {
    opacity: 1;
}

.card:hover {
    background-color: #1a1a1a;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-track-piece {
    background-color: auto;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.transition-fade {
    opacity: 0;
    transition: opacity 0.5s;
}

html.is-animating .transition-fade {
    opacity: 1;
}

html.is-leaving .transition-fade {
    opacity: 0;
}

/* defining the fade-in animation */
.fade-in {
    animation: fadeIn 600ms ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* default transition for swup */
  html.is-changing .transition-main {
    transition: opacity 600ms ease-in-out;
    opacity: 1;
  }
  
  html.is-animating .transition-main {
    opacity: 0;
  }
  
  /* fade-in effect for the projects container */
  #projects-container.is-changing {
    transition: opacity 600ms ease-in-out;
  }
  
  #projects-container.is-animating {
    opacity: 0;
  }
  

